@import "bootstrap-responsive";
@import "bootstrap";
@import "custom";
@import "font_awesome-ie7";
@import "font-awesome";
@import "metro-tile";
@import "style-slider";

.hide {
  display: none;
}

.nav {
  margin-top: 5px;
}

.user-info {
  margin-top: 9px;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.voted {
  opacity: 0.5;
}

.favorite {
  margin-top: 20px;
}
